#pdf-viewer{
	float: left;
	width: 100%;
	max-height: 600px;
	overflow-y: scroll;
	height: 600px;
	border: none;
	margin-bottom: 10px;
}

.pdf-viewer-create{
	margin-top: 10px;
}

.check-invoice-client{
	margin-right: 3px;
}